.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.label {
  color: var(--color-neutral-900);
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  padding-left: var(--spacing-sm);
}

.selectContainer {
  position: relative;
  display: inline-block;
  width: 100%;

  &:hover .icon {
    color: var(--color-neutral-700);
  }

  &:has(.select:focus-visible) .icon {
    color: var(--color-brand-500);
  }

  &:has(.select:disabled) {
    &:hover .icon {
      color: var(--color-neutral-400);
    }

    .icon {
      color: var(--color-neutral-400);
    }
  }
}

.select {
  appearance: none;
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-xl) var(--spacing-sm)
    var(--spacing-sm);
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--radius-sm);
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  cursor: pointer;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:focus-visible {
    outline: 2px solid var(--color-brand-500);
    outline-offset: 2px;
  }

  &:hover:not(:disabled) {
    border-color: var(--color-neutral-400);
  }

  &:disabled {
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-500);
    cursor: not-allowed;
  }

  &:invalid {
    color: var(--color-neutral-500);
  }

  @media (min-width: 640px) {
    padding: var(--spacing-md) var(--spacing-2xl) var(--spacing-md)
      var(--spacing-md);
    font-size: var(--font-size-md);
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: var(--spacing-sm);
  font-size: var(--font-size-sm);
  transform: translateY(-50%);
  color: var(--color-neutral-600);
  pointer-events: none;
  transition: color 0.2s ease;

  @media (min-width: 640px) {
    right: var(--spacing-md);
    font-size: var(--font-size-md);
  }
}
