.modalTitle {
  margin-bottom: var(--spacing-xs);
}

.modalButtonContainer {
  display: flex;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-lg);

  @media (--breakpoint-sm) {
    justify-content: flex-end;
  }
}
