:root {
  /* Colors */
  --color-neutral-50: #fcfcfc;
  --color-neutral-100: #f2f2f2;
  --color-neutral-200: #e0e0e0;
  --color-neutral-300: #cccccc;
  --color-neutral-400: #aaaaaa;
  --color-neutral-500: #888888;
  --color-neutral-600: #666666;
  --color-neutral-700: #444444;
  --color-neutral-800: #222222;
  --color-neutral-900: #111111;
  --color-neutral-950: #0a0a0a;

  --color-brand-100: #c1ccea;
  --color-brand-200: #b0bada;
  --color-brand-300: #8794c4;
  --color-brand-400: #516296;
  --color-brand-500: #355084;
  --color-brand-600: #2c3e50;
  --color-brand-700: #1a242f;
  --color-brand-800: #232c3c;
  --color-brand-900: #0a0a0a;

  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #166534;
  --color-success-900: #14532d;

  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;

  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #fca5a5;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;

  /* Font size */
  --font-size-xs: calc(12rem / 16);
  --font-size-sm: calc(14rem / 16);
  --font-size-md: calc(16rem / 16);
  --font-size-lg: calc(18rem / 16);
  --font-size-xl: calc(24rem / 16);
  --font-size-2xl: calc(32rem / 16);
  --font-size-3xl: calc(48rem / 16);

  /* Font family */
  --font-family-heading: var(--font-montserrat), Helvetica, Arial, sans-serif;
  --font-family-body: var(--font-nunito-sans), Helvetica, Arial, sans-serif;
  --font-family-interactive: var(--font-montserrat), Helvetica, Arial,
    sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-xs: calc(4rem / 16);
  --spacing-sm: calc(8rem / 16);
  --spacing-md: calc(12rem / 16);
  --spacing-lg: calc(16rem / 16);
  --spacing-xl: calc(24rem / 16);
  --spacing-2xl: calc(32rem / 16);

  /* Radius */
  --radius-xs: calc(4rem / 16);
  --radius-sm: calc(8rem / 16);
  --radius-md: calc(12rem / 16);
  --radius-lg: calc(16rem / 16);
  --radius-xl: calc(24rem / 16);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-neutral-900);
  background: var(--color-neutral-100);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
