.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);

  @media (--breakpoint-xl) {
    max-width: var(--breakpoint-xl);
  }
}
